@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import url("https://fonts.googleapis.com/css?family=Bangers|Lobster+Two");*/

.app {
    width: 400px;
    margin: 100px auto 0;
    border: outset;
    border-radius: 5px;
    text-align: center;
}

.image {
    width: 400px;
    height: 350px;
    padding-top: 20px;
}

.Day-image {
    background-color: #99ffff;
}

.ball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px auto 0;
}

.Day-ball {
    background-color: yellow;
}

.Night-image {
    background-color: #1a1a1a;
}

.Night-ball {
    background-color: lightgray;
}